<link rel="stylesheet" type="text/css" href="css/bootstrap.min-2.2.2.css">
<style>
body {
  overflow: hidden;
  margin: 1px;
  padding: 0px;
  background: ivory;
}
#popup_container {
  cursor: pointer;
  text-align: center;
  padding: 1px 3px;
  font-family: sans-serif;
  font-size: 0.95em;
  width: 355px;
/*  background: #79C5FF; */
  background: #86cbf4;
}
#popup_container:hover {
/*   background: #99D9FF; */
  background: #96dbff;
}
#popup_container:first-child {
  margin-top: 0px;
}
#popup_header_title {
  font-size: 1.4em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#div_flash_duration {
  margin: 4px 16px 0px 0px;
  text-align: right;
}
#input_flash_duration_label {
  font-size: 0.9em;
  font-weight: bold;
}
</style>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/json2.js"></script>
<script type="text/javascript" src="js/bootstrap.min-2.2.2.js"></script>
<script type="text/javascript" src="js/commonutil.js"></script>
<script type="text/javascript" src="js/uuidutil.js"></script>
<script type="text/javascript" src="js/userauthutil-1.1.js"></script>
<script type="text/javascript" src="js/brand-flashurl.js"></script>
<script type="text/javascript" src="js/shorturlutil-1.0.js"></script>
<script type="text/javascript" src="js/flashurl-popup.js"></script>
<script type="text/javascript" src="js/flashurl-handler.js"></script>


<div id="popup_container" width="100%">
<FORM class="form-inline">
<div style="text-align:bottom;">
<img src="img/flashurl-38.png" style="margin:6px 5px -6px 15px; vertical-align:bottom;"></img>
<span id="popup_header_title">Flash URL&trade;</span>

<P class="pull-right" style="margin:15px 10px 5px 5px;">
<button id="createNewButton" type="button" class="btn btn-mini" title="Create a new short URL">New</button>
<button id="cancelButton" type="button" class="btn btn-mini" title="Close"><b>X</b></button>
</P>
</div>

<hr width="100%">

<input type="text" id="shortUrlText" readonly="true" size="25"/>&nbsp;&nbsp;<button
 id="copyButton" type="button" class="btn btn-primary btn-small" title="Save and copy the short URL" style="width:55px">Copy</button>
 &nbsp;<button
 id="tweetButton" type="button" class="btn btn-primary btn-small" title="Save and tweet this short URL" style="width:55px">Tweet</button>
<div id="div_flash_duration" style="margin-right:12px;">
<label for="input_flash_duration" id="input_flash_duration_label" title='How long this short URL page will be "flashed"?'>Flash Duration:</label>&nbsp;
    <select id="input_flash_duration" class="input-medium" title="Select the flash duration">
      <option value="3">3 Second Flash</option>
      <option value="5">5 Second Flash</option>
      <option value="10">10 Second Flash</option>
      <option value="15">15 Second Flash</option>
      <option value="20">20 Second Flash</option>
    </select>
</div>

<div style="margin-top:10px;">
<TEXTAREA id="displayMessageText" style="width:95%" rows="3" maxlength="400" placeholder="(Optional) Message to be displayed in the short URL flash page."></TEXTAREA>
</div>
</FORM>
</div>
