<link rel="stylesheet" type="text/css" href="css/bootstrap.min-2.2.2.css">
<style>
body {
  overflow: hidden;
  margin: 1px;
  padding: 0px;
  background: ivory;
}
#popup_container {
  cursor: pointer;
  text-align: center;
  padding: 1px 3px;
  font-family: sans-serif;
  font-size: 0.95em;
  width: 355px;
  margin-top: 1px;
/*   background: #F3D199;  */
  background: #efaf88;
}
#popup_container:hover {
/*  background: #FFD9a9;  */
  background: #ffbf98;
}
#popup_container:first-child {
  margin-top: 0px;
}
#popup_header_title {
  font-size: 1.4em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#div_sassyurl_list_label {
  margin: 12px 0px 4px 12px;
  font-size: 0.95em;
  font-weight: bold;
  text-align: left;
}
#div_sassyurl_list {
  margin: 4px 0px 2px 12px;
}
.sassyurl_list_labels {
  font-size: 0.8em;
  font-weight: bold;
}
</style>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/json2.js"></script>
<script type="text/javascript" src="js/bootstrap.min-2.2.2.js"></script>
<script type="text/javascript" src="js/commonutil.js"></script>
<script type="text/javascript" src="js/uuidutil.js"></script>
<script type="text/javascript" src="js/userauthutil-1.1.js"></script>
<script type="text/javascript" src="js/brand-sassyurl.js"></script>
<script type="text/javascript" src="js/sassytokenutil-1.0.js"></script>
<script type="text/javascript" src="js/sassyurl-popup.js"></script>
<script type="text/javascript" src="js/sassyurl-handler.js"></script>


<div id="popup_container" width="100%">
<FORM class="form-inline">

<div style="text-align:bottom;">
<img src="img/sassyurl-38.png" style="margin:6px 5px -6px 15px; vertical-align:bottom;"></img>
<span id="popup_header_title">Sassy URL&trade;</span>
&nbsp;

<P class="pull-right" style="margin:15px 10px 5px 5px;">
<button id="createNewButton" type="button" class="btn btn-mini" title="Create a new short URL">New</button>
<button id="cancelButton" type="button" class="btn btn-mini" title="Close"><b>X</b></button>
</P>
</div>

<hr width="100%">

<div width="100%">

<input type="text" id="shortUrlText" readonly="true" size="23"/>&nbsp;&nbsp;<button
 id="copyButton" type="button" class="btn btn-warning btn-small" title="Copy the short URL" style="width:55px">Copy</button>
 &nbsp;<button
 id="tweetButton" type="button" class="btn btn-warning btn-small" title="Save and tweet this short URL" style="width:55px">Tweet</button>
<div>

</FORM>
</div>
