<link rel="stylesheet" type="text/css" href="css/bootstrap.min-2.2.2.css">
<style>
body {
  overflow: hidden;
  margin: 1px;
  padding: 0px;
  background: ivory;
}
#popup_container {
  cursor: pointer;
  text-align: center;
  padding: 1px 3px;
  font-family: sans-serif;
  font-size: 0.95em;
  width: 355px;
  margin-top: 1px;
/*  background: #86EEC2; */
  background: #a1ce9d;
}
#popup_container:hover {
/*  background: #93FFD1; */
  background: #b1dead;
}
#popup_container:first-child {
  margin-top: 0px;
}
#popup_header_title {
  font-size: 1.4em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#div_femtourl_list_label {
  margin: 6px 0px 4px 12px;
  /* font-size: 0.95em; */
  /* font-weight: bold; */
  text-align: left;
}
#div_femtourl_list {
  margin: 4px 0px 2px 12px;
}
.femtourl_list_labels {
  font-size: 0.8em;
  font-weight: bold;
}
</style>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/json2.js"></script>
<script type="text/javascript" src="js/bootstrap.min-2.2.2.js"></script>
<script type="text/javascript" src="js/commonutil.js"></script>
<script type="text/javascript" src="js/uuidutil.js"></script>
<script type="text/javascript" src="js/userauthutil-1.1.js"></script>
<script type="text/javascript" src="js/brand-femtourl.js"></script>
<script type="text/javascript" src="js/shorturlutil-1.0.js"></script>
<script type="text/javascript" src="js/femtourl-popup.js"></script>
<script type="text/javascript" src="js/femtourl-handler.js"></script>


<div id="popup_container" width="100%">
<FORM class="form-inline">
&nbsp;&nbsp;
<img src="img/femtourl-38.png" style="margin:6px 5px -6px 15px; vertical-align:bottom;"></img>
<span id="popup_header_title">Femto URL&trade;</span>

<P class="pull-right" style="margin:15px 10px 5px 5px;">
<button id="createNewButton" type="button" class="btn btn-mini" title="Create a new short URL">New</button>
<button id="cancelButton" type="button" class="btn btn-mini" title="Close"><b>X</b></button>
</P>

<hr width="100%">

<input type="text" id="shortUrlText" readonly="true" size="25"/>&nbsp;&nbsp;<button
 id="copyButton" type="button" class="btn btn-success btn-small" title="Copy the short URL" style="width:55px">Copy</button>
 &nbsp;<button
 id="tweetButton" type="button" class="btn btn-success btn-small" title="Save and tweet this short URL" style="width:55px">Tweet</button>
<p id="div_femtourl_list_label">
<small>Femto URL Variations:</small>
</p>
<div id="div_femtourl_list">
<table>

<tr>
<td>
<div id="div_femtourl_cannyurl_label">
<label class="femtourl_list_labels" for="input_femtourl_cannyurl" title="Canny URL is a safe URL, which requires user confirmation before redirection">Canny URL:&nbsp;&nbsp;&nbsp;</label>
</div>
</td>
<td>
<input type="text" id="input_femtourl_cannyurl" class="input-medium" readonly="true" size="21"/>
&nbsp;
</td>
<td>
<button
 id="copy_femtourl_cannyurl" type="button" class="btn btn-mini" title="Copy the canny URL"><img src="img/icon_copy.png"/></button>
 <button
 id="tweet_femtourl_cannyurl" type="button" class="btn btn-mini" title="Tweet this canny URL"><img src="img/icon_tweet.png"/></button>
</td>
</tr>

<tr>
<td>
<div id="div_femtourl_flashurl_label">
<label class="femtourl_list_labels" for="input_femtourl_flashurl" title='Flash URL "flashes" a Web site information/preview page for a few seconds before redirection'>Flash URL:&nbsp;&nbsp;&nbsp;</label>
</div>
</td>
<td>
<input type="text" id="input_femtourl_flashurl" class="input-medium" readonly="true" size="21"/>
&nbsp;
</td>
<td>
<button
 id="copy_femtourl_flashurl" type="button" class="btn btn-mini" title="Copy the flash URL"><img src="img/icon_copy.png"/></button>
 <button
 id="tweet_femtourl_flashurl" type="button" class="btn btn-mini" title="Tweet this flash URL"><img src="img/icon_tweet.png"/></button>
</td>
</tr>

</table>
</div>

</FORM>
</div>
