<%
if(BrandingHelper.getInstance().isBrandCannyURL()) {
%>
<%
} else if(BrandingHelper.getInstance().isBrandFlashURL()) {
%>
<%
} else if(BrandingHelper.getInstance().isBrandFemtoURL()) {
%>
<%
} else if(BrandingHelper.getInstance().isBrandSassyURL()) {
%>
<%
} else if(BrandingHelper.getInstance().isBrandUserURL()) {
%>
<%
} else if(BrandingHelper.getInstance().isBrandQuadURL()) {
%>
<%
} else if(BrandingHelper.getInstance().isBrandSpeedKeyword()) {
%>
<%
} else if(BrandingHelper.getInstance().isBrandTweetUserURL()) {
%>
<%
} else if(BrandingHelper.getInstance().isBrandSmallBizURL()) {
%>
<%
} else {
%>
<%
}
%>

<% if(BrandingHelper.getInstance().isBrandCannyURL()) { %>
<% } else if(BrandingHelper.getInstance().isBrandFlashURL()) { %>
<% } else if(BrandingHelper.getInstance().isBrandFemtoURL()) { %>
<% } else if(BrandingHelper.getInstance().isBrandSassyURL()) { %>
<% } else if(BrandingHelper.getInstance().isBrandUserURL()) { %>
<% } else if(BrandingHelper.getInstance().isBrandQuadURL()) { %>
<% } else if(BrandingHelper.getInstance().isBrandSpeedKeyword()) { %>
<% } else if(BrandingHelper.getInstance().isBrandTweetUserURL()) { %>
<% } else if(BrandingHelper.getInstance().isBrandSmallBizURL()) { %>
<% } else { %>
<% } %>

