/** Place holder */


div.hero-unit {
	background: url(http://www.filestoa.com/img/background/yellowstone_FSC4446_1280.png) no-repeat top left fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
