/** Canny URL */


#container {
  margin: 12px 6px 6px 6px;
  padding: 6px 12px;
}

/* Hack !!!!! */
#shorturl_header {
  margin: -20px 6px 0px;
  padding: 0px 0px;
}
#shorturl_preface {
  margin: -20px 0px 0px;
  padding: 0px 0px;
}


#shorturl_view_header {
  margin: 6px 6px 0px;
  padding: 0px 0px;
}
#shorturl_short_url {
  margin: 2px 0px 12px;
}
#shorturl_view_short_url {
  margin: 2px 16px 12px;
}

#input_shorturl_short_url_label {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#questionmark_help_preface {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#femtourl_variations_help_preface {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#femtourl_variations_help_main {
  margin: 12px 6px 6px;
}
#femtourl_variations_help_table {
  margin: 6px 6px 12px;
  padding: 0px 0px;
}
#femtourl_variations_help_table tr {
  margin: 2px 0px;
  padding: 2px 0px;
}
#femtourl_variations_help_table tr td {
  margin: 2px 0px;
  padding: 2px 0px;
}
#femtourl_variations_help_table tr td.femtourl_variations_td_path {
  font-weight: bold;
}
#femtourl_variations_help_table tr td.femtourl_variations_td_name {
  font-style: italic;
}


.input_label_text {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#input_shorturl_longurl {
  font-size: 1.1em;
  font-family: "Comic Sans MS";
}
#input_shorturl_redirecturl {
  font-size: 1.1em;
  font-family: "Comic Sans MS";
}

#shorturl_view_detail_shortlink_redirect_type {
  margin: 12px 6px 6px;	
}
.shorturl_view_detail_shortlink_redirect_type_label {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.shorturl_view_detail_shortlink_redirect_type_text {
  font-size: 1.1em;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_view_detail_shortlink_flash_duration {
  margin: 12px 6px 6px;	
}
.shorturl_view_detail_shortlink_flash_duration_label {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.shorturl_view_detail_shortlink_flash_duration_text {
  font-size: 1.1em;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#shorturl_view_prompt {
  margin: 16px 0px 16px 36px;	
}
#shorturl_view_prompt_message {
  margin: 2px 0px 6px;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.shorturl_prompt_button {
  margin: 2px 2px 0px;
  width: 180px;
  height: 34px;
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#shorturl_body_top {
  margin: 3px 0px;
}
.shorturl_view_body_top {
  margin: 12px 0px 6px;
}

#input_shorturl_title_label {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.shorturl_view_title {
  font-size: 1.4em;
  font-weight: bold;
  margin: 6px 2px 20px;
}
#shorturl_title_text {
  font-family: "Comic Sans MS", cursive, sans-serif;
}



#div_femtourl_variations_title {
  margin: 16px 0px 12px 0px;
  padding: 0px 0px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#div_femtourl_variations_sisterurls {
  margin: 0px 4px 2px 0px;;
  padding: 8px 8px;
  border-style: solid;
  border-width: 1px;
}


#input_shorturl_body_landingpage_label {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#shorturl_summary_preface {
  margin: 0px 0px;
  padding: 6px 0px 12px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#input_shorturl_short_summary_label {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#shorturl_body {
  margin: 0px 0px 0px;
  padding: 6px 6px;
}
.shorturl_view_body {
  border-style: solid;
  border-width: 2px;
}

/* Hack !!!!! */
#shorturl_body_middle {
  margin: 12px 0px -40px;
}

#shorturl_body_main {
  margin: 3px 0px 12px;
  padding: 9px 9px;
}
#shorturl_view_body_main_display_message {
  margin: 9px 0px;
}
#shorturl_body_main_display_message_text {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#shorturl_body_main_pageinfo {
  margin: 6px 0px 3px;
  padding: 9px 9px;
}
#shorturl_view_body_main_pageinfo {
  margin: 9px 0px;
}
#shorturl_view_body_main_pageinfo td {
  padding: 2px 12px 0px 0px;
}
#shorturl_body_main_pageinfo_text {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.pageinfo_titlecolumn_text {
  font-size: 1.0em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#input_shorturl_view_permalink_label {
  margin: 0px 6px 0px 0px;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#input_shorturl_view_permalink_label {
  margin: 0px 6px 0px 0px;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_view_body_landingpage {
  margin: 0px 0px;
  padding: 6px 6px;
}
#shorturl_body_landingpage_text {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_view_body_viewpermalink {
  margin: 0px 0px;
  padding: 6px 6px;
}
#shorturl_body_viewpermalink_text {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_view_body_viewpermalink {
  margin: 0px 0px;
  padding: 6px 6px;
}
#shorturl_body_viewpermalink_text {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


.button_shorturl_primary_target {
  margin: 2px 0px 0px;
  /* width: 180px; height: 24px;  */
  font-size: 1.0em;
  font-weight: bold;
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
}



#shorturl_content {
  margin: 0px 0px;
  padding: 6px 6px 9px 6px;
  font-size: 1.0em;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_view_content_summary {
  margin: 6px 0px;
  padding: 0px 0px;
}


#shorturl_info_preface {
  margin: 0px 0px;
  padding: 6px 0px 12px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_info_shorturl_toprow {
  margin: 0px 0px;
  padding: 3px 0px;
}
#input_shorturl_info_product_type_label {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#input_shorturl_info_shorturl_stage_label {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_info_platforms {
  margin: 0px 0px;
  padding: 3px 0px;
}
#input_shorturl_info_platforms_label {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_info_shorturldate {
  margin: 0px 0px;
  padding: 3px 0px;
}
#input_shorturl_info_shorturldate_label {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_info_startdate_enddate {
  margin: 0px 0px;
  padding: 3px 0px;
}
#input_shorturl_info_startdate_label {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#input_shorturl_info_enddate_label {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#shorturl_demographics_preface {
  margin: 0px 0px;
  padding: 6px 0px 12px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_demographics_usersegment_1 {
  margin: 0px 0px;
  padding: 3px 0px;
}
#shorturl_demographics_usersegment_1_segment_code {
  margin: 0px 0px;
  padding: 3px 0px;
}
#input_usersegment_1_segment_code_label {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#shorturl_demographics_usersegment_1_audience {
  margin: 0px 0px;
  padding: 3px 0px;
}
#input_usersegment_1_audience_label {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#shorturl_demographics_usersegment_1_note {
  margin: 0px 0px;
  padding: 3px 0px;
}
#input_usersegment_1_note_label {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#send_email_preface {
  margin: 0px 0px;
  padding: 6px 0px 12px;
  font-size: 1.1em;
  font-weight: normal;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#send_email_header {
  margin: 0px 0px;
  padding: 3px 0px;
}
#send_email_from {
  margin: 0px 0px;
  padding: 3px 0px;
}
#input_send_email_from_title {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#send_email_to {
  margin: 0px 0px;
  padding: 3px 0px;
}
#input_send_email_to_title {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#send_email_main {
  margin: 0px 0px;
  padding: 3px 0px;
}
#input_send_email_body_title {
  font-size: 1.05em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#shorturl_options_preface {
  margin: 0px 0px;
  padding: 6px 0px 12px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#shorturl_footer {
  margin: 6px 6px;
  padding: 0px 0px;
}
#shorturl_permalink {
  padding: 0px 0px 6px;
}
#shorturl_permalink_buttons {
  padding: 0px 0px 6px;
}
#shorturl_created_time {
  font-size: 0.85em;
}


#shorturl_body_view_form {
  margin: 18px 12px 6px 6px;
  padding: 6px 12px 12px 12px;
  border-style: solid;
  border-width: 1px;
}
#shorturl_body_view_form_header {
  margin: 0px 0px;
  padding: 3px 0px;
}
#shorturl_body_view_form_title {
  margin: 0px 0px;
  padding: 6px 0px;
}
#shorturl_body_view_form_title_text {
  font-size: 1.4em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_body_view_form_instruction {
  margin: 0px 0px;
  padding: 3px 0px;
}

#shorturl_body_view_user {
  margin: 0px 0px;
  padding: 6px 0px;
}
#input_view_user_name_label {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_body_view_notification {
  margin: 0px 0px;
  padding: 3px 0px;
}
#shorturl_body_view_email_address {
  margin: 0px 18px 0px 0px;
  padding: 3px 0px;
}
#shorturl_body_view_twitter_username {
  margin: 0px 0px 0px 18px;
  padding: 3px 0px;
}
#input_view_email_address_label {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#input_view_twitter_username_label {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_body_view_comment {
  margin: 0px 0px;
  padding: 6px 0px;
}
#input_view_comment_body_label {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#shorturl_body_view_buttons {
  margin: 0px 0px;
  padding: 3px 0px;
}


#shorturl_body_before_view {
  margin: 12px 6px;
  padding: 0px 0px;
}
#shorturl_body_before_view_title {
  margin: 0px 0px;
  padding: 6px 0px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#shorturl_body_before_view_message {
  margin: 0px 0px;
  padding: 6px 0px;
}

#shorturl_body_after_view {
  margin: 12px 6px;
  padding: 0px 0px;
}
#shorturl_body_after_view_title {
  margin: 0px 0px;
  padding: 6px 0px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#shorturl_body_after_view_message {
  margin: 0px 0px;
  padding: 6px 0px;
}


#shorturl_view_information {
  margin: 6px 6px 12px;
  padding: 0px 0px;
}

#shorturl_view_information_table tr {
  margin: 2px 0px;
  padding: 2px 0px;
}

#shorturl_view_information_table tr td {
  margin: 2px 0px;
  padding: 2px 0px;
}
#shorturl_view_information_table .label_column {
  margin: 2px 0px;
  padding: 2px 24px 2px 0px;
}

.shorturl_view_information_item_label {
  font-size: 1.0em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#shorturl_view_information {
  margin: 6px 6px 12px;
  padding: 0px 0px;
}

#shorturl_view_information_table tr {
  margin: 2px 0px;
  padding: 2px 0px;
}

#shorturl_view_information_table tr td {
  margin: 2px 0px;
  padding: 2px 0px;
}
#shorturl_view_information_table .label_column {
  margin: 2px 0px;
  padding: 2px 16px 2px 0px;
}

.shorturl_view_information_item_label {
  font-size: 1.0em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}



#twitter_tweet_body_container {
  margin: 9px 3px;
  padding: 3px 3px;
}



/* Hack !!!!! */
#shortlink_list_main {
  margin: 12px 0px -50px;
}


/*
#table_shortlink_list_records {
  border: none;
  margin: 10px;
  padding: 2px;
}
#table_shortlink_list_records tr {
  border: solid 2px;
  margin: 1px;
  padding: 2px;
}
#table_shortlink_list_records tr td {
  border: solid 2px;
  /* width: 14%; */
  margin: 2px;
  padding: 4px;
}
*/



