/** Canny URL - Desktop */

#cannyurl_editpage_logo {
  width: 500px;
  height: 75px;
}

#cannyurl_viewpage_logo {
  width: 500px;
  height: 75px;
}

#input_shorturl_shorturl {
  width: 220px;
  height: 16px;
}
#input_shorturl_longurl {
  width: 390px;
  height: 56px;
}
#input_shorturl_redirecturl {
  width: 450px;
  height: 56px;
}

#input_shorturl_display_message {
  width: 550px;
  height: 68px;
}


.input_femtourl_variations {
  width: 200px;
  height: 16px;
}



#input_shorturl_body_landingpage {
  width: 300px;
}

#input_shorturl_content {
  width: 650px;
  height: 180px;
}

#input_shorturl_short_url {
  width: 120px;
}

#input_shorturl_view_permalink {
  width: 550px;
}
#input_shorturl_view_permalink {
  width: 550px;
}


#shorturl_body_view_form {
  width: 500px;
}
#input_view_user_name {
  width: 200px;
}
#input_view_email_address {
  width: 200px;
}
#input_view_twitter_username {
  width: 200px;
}
#input_view_comment_body {
  width: 460px;
  height: 55px;
}

