
#app_page_footer {
  margin: -10px 12px 6px 60px;
  color: DarkSlateGray;
  text-align: left;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}
#app_page_footer a {
  color: Black;
}
#page_bottom {
  margin: 0px 12px;
}
#page_footer_hr {
  margin: 8px 0px 4px;
  width: 320px;
  height: 2px;
  background-color: Black;
}
